<div class="flex justify-center">
  <div class="flex flex-col max-w-screen-2xl w-full items-center p-3 py-8">
    <div class="text-3xl text-gray-400 uppercase text-center pb-4">
      Populiariausios kategorijos
      {{ block.settings.header_text }}
    </div>
    <div class="flex flex-wrap w-full justify-around">
      {% for collection in collections %}
        {% unless forloop.last %}
          <div class="flex flex-col items-center">
            <img
              class="w-64 h-64 rounded-full p-6"
              src="{{ collection.image | img_url: '300x'}}"
              alt=""
            >
            <div class="text-2xl text font-semibold">
              {{ collection.title }}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Coll Bar",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "sort_a",
      "label": "Sort collections",
      "options": [
        {
          "value": "sortation",
          "label": "Alphabetical"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "discount",
      "name": "Collections Bar",
      "settings": [
        {
          "type": "richtext",
          "id": "header_text",
          "label": "Collections text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Coll Bar"
    }
  ]
}
{% endschema %}
