<div class="flex justify-evenly p-20">
  <div class="flex flex-col">
    <div class="text-3xl font-bold mb-6">SHOP</div>
    <div>Dresses</div>
    <div>Tops</div>
    <div>Jeans</div>
    <div>Shoes</div>
    <div>Skirts</div>
    <div>Accesories</div>
  </div>
  <div class="flex flex-col">
    <div class="text-3xl font-bold font-size mb-6">Information</div>
    <div>About</div>
    <div>Reward program</div>
    <div>Shipping & Returns</div>
    <div>Privacy policy</div>
    <div>Terms & conditions</div>
    <div>Blog</div>
  </div>
  <div class="flex flex-col">
    <div class="text-3xl font-bold mb-6">Customer service</div>
    <div>Orders & returns</div>
    <div>Contact us</div>
    <div>FAQ</div>
    <div>Stire locations</div>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-col mb-16">
      <div class="text-3xl font-bold mb-2">Keep in touch</div>
      <img
        class="w-72"
        src="https://raw.githubusercontent.com/juulio/social-media-icons-svg/master/social-icons.png"
        alt="social media"
      >
    </div>
    <div class="flex flex-col">
      <div class="text-3xl font-bold mb-2">Payment accept</div>
      <img
        class="w-80"
        src="https://www.citypng.com/public/uploads/preview/-11597193844xtj2mnv37b.png"
        alt="social media"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footeris",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "footeris",
      "name": "Footeris"
    }
  ],
  "presets": [
    {
      "name": "Footeris"
    }
  ]
}
{% endschema %}
