<div class="flex justify-center bg-emerald-800 text-white p-20">
  <div class="flex flex-col justify-evenly items-center w-1/2 ">FOOTERIS</div>
</div>

{% schema %}
{
  "name": "Footeris",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "footeris",
      "name": "Footeris"
    }
  ],
  "presets": [
    {
      "name": "Footeris"
    }
  ]
}
{% endschema %}
