<div class="flex flex-col items-center sm:flex-row justify-between p-3">
  <div class="order-last sm:order-first flex items-center px-6">
    <button class="gender-button p-2">Moterims</button>
    <button class="gender-button p-2">Vyrams</button>
    <button class="gender-button p-2">Vaikams</button>
  </div>

  <div class="flex items-center pt-8 sm:pt-0">
    <img src="{{ section.settings.logo_image | img_url: '100x'}}" alt="">
  </div>

  <div class="navigation-logos inline-flex items-center justify-center h-32 pr-3">
    <div class="user-icon flex cursor-pointer p-1 h-10">
      {% render 'icon-user' %}
    </div>
    <div class="heart-icon flex cursor-pointer p-1 h-10">
      {% render 'icon-heart' %}
    </div>
    <div class="cart-icon flex cursor-pointer p-1 h-10">
      {% render 'icon-cart-new' %}
    </div>
    <div class="globe-icon flex cursor-pointer p-1 h-8">
      {% render 'icon-globe' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "New Header",
  "max_blocks": 12,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    }
  ],
  "blocks": [
    {
      "type": "header-new",
      "name": "Header new"
    }
  ],
  "presets": [
    {
      "name": "Header new"
    }
  ]
}
{% endschema %}
