<div class="flex justify-center bg-black text-white p-20">
  <div class="flex flex-col justify-evenly items-center w-1/2 border border-red-400">
    <div class="text-8xl font-bold pb-8">Sign-Up for news</div>
    <div class="text-center text-4xl font-semibold">
      Quisquemos sodales suscipit tortor ditaemcos condimentum de cosmo lacus meleifend menean diverra loremous.
    </div>
    <div class="flex mt-24">
      <input
        type="text"
        placeholder="Enter your email"
        class="flex-3/4 h-16 text-4xl bg-black text-white mr-4"
      >
      <div class="flex-1/4 h-16 bg-white text-bold text-black px-12 py-4">SUBMIT</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "News SignUp",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "news-signup",
      "name": "Services"
    }
  ],
  "presets": [
    {
      "name": "News SignUp"
    }
  ]
}
{% endschema %}
