<div class="flex justify-center bg-black text-white p-20">
  <div class="flex flex-col justify-evenly items-center w-1/2 ">
    <div class="text-8xl font-bold pb-8">Sign-Up for news</div>
    <div class="text-center text-4xl font-semibold">
      Quisquemos sodales suscipit tortor ditaemcos condimentum de cosmo lacus meleifend menean diverra loremous.
    </div>
    <div class="flex justify-center w-full  h-16 mt-24">
      <input
        type="text"
        placeholder="Enter your email"
        class=" flex-3/4 w-full max-w-3xl mr-4 text-4xl border border-white bg-black text-white px-4"
      >
      <div class="flex flex-1/4 items-center justify-center p-4 px-12 bg-white font-semibold text-black ">SUBMIT</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "News SignUp",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "news-signup",
      "name": "Services"
    }
  ],
  "presets": [
    {
      "name": "News SignUp"
    }
  ]
}
{% endschema %}
