<div
  class="p-3 text-sm {{ section.settings.text_align }}"
  style="background-color: #D6FD8B;"
>
  <div class="flex flex-wrap justify-evenly p-10">
    <div class="flex items-center p-1">
      {% render 'icon-box' %}
      <div class="text-4xl font-semibold uppercase pl-9">Free Shipping & Returns*</div>
    </div>
    <div class="flex items-center p-1">
      {% render 'icon-time' %}
      <div class="text-4xl font-semibold uppercase pl-9">Longtime Warranty</div>
    </div>
    <div class="flex items-center p-1">
      {% render 'icon-question' %}
      <div class="text-4xl font-semibold uppercase pl-9">Top Customer Service</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Services Bar",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "services-bar",
      "name": "Services"
    }
  ],
  "presets": [
    {
      "name": "Services Bar"
    }
  ]
}
{% endschema %}
