<div
  class="flex justify-center p-3 text-sm {{ section.settings.text_align }}"
  style="background-color: #D6FD8B;"
>
  <div class="flex flex-col md:flex-row max-w-screen-2xl w-full justify-start md:justify-evenly items-center p-10">
    <div class="flex items-center">
      <div class="flex w-10 md:w-20">
        {% render 'icon-box' %}
      </div>
      <div class="text-xl md:text-3xl font-semibold uppercase pl-2 md:pl-9">Free Shipping & Returns*</div>
    </div>
    <div class="flex items-center">
      <div class="flex w-10 md:w-20">
        {% render 'icon-time' %}
      </div>
      <div class="text-xl md:text-3xl font-semibold uppercase pl-2 md:pl-9">Longtime Warranty</div>
    </div>
    <div class="flex items-center">
      <div class="flex w-10 md:w-20">
        {% render 'icon-question' %}
      </div>
      <div class="text-xl md:text-3xl font-semibold uppercase pl-2 md:pl-9">Top Customer Service</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Services Bar",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "services-bar",
      "name": "Services"
    }
  ],
  "presets": [
    {
      "name": "Services Bar"
    }
  ]
}
{% endschema %}
