@tailwind base;
@tailwind components;
@tailwind utilities;

.gender-button {
    color:  #8F8F8F;
    border: none;
    border-radius: 6px;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

